<html>
<head>
  <style type="text/css">{{ debugCss() }} </style>
  <script type="text/javascript">{{ debugScript() }} </script>
  <style type="text/css">
    body {
        margin:0px;
        color: #525252;
    }
    * {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    }
    #container {
        display: flex;
        width: 100%;
        height: 100%;
        background-color: #f1f2f4;
    }

    .content {
        margin: auto;
    }

    .content h1 {
        font-size: 65px;
        font-weight: 200;
        -webkit-font-smoothing: antialiased;
    }

    .content p {
        -webkit-font-smoothing: antialiased;
        color: #aeaeae;
        margin-bottom: 58px;
        letter-spacing: -.02em;
        text-transform: uppercase;
    }

    .btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .btn-default {
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }

    .content a {
            text-decoration: none;
            text-align: center;
    }

    .btn .btn-getting-started {
        color: #efbfbf;
    border: none;
    box-shadow: inset 0 0 0 2px #efbfbf;
    border-radius: 2px;
    background-color: transparent;
    margin-top: 26px;
    }

    .btn-lg {
        padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
   }
  </style>
</head>
<body>
<div id="container">
    <div class="content">
        <h1>Hello,TastPHP :)</h1>
        <p>The PHP Framework for the modern developer.</p>
        <div style="text-align:center"><a class="btn btn-lg btn-default btn-getting-started" href="https://docs.tastphp.com/" role="button" target="__blank">Get Started</a></div>
    </div>
</div>
   {{ debug() }} 
</body>

</html>
